
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.nav-links a {
  color: #cbd5e1;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-decoration: none;
}

